

.notice {
justify-content: center;
height: 100%;
 z-index:3
 }

header img {
  max-width: 15%;
  max-height: 10vh;
}

header {
  display: flex;
  justify-content: center;
  min-height: 30vh;
  background:  url('images/ville.svg') bottom center no-repeat;
  background-color: #c5d6f0;
  background-size: cover;
}

.main-view {
    display: flex;
    justify-content: space-between;
  min-height: 65vh;
  align-items: center;
  background: url('images/river.svg') bottom center no-repeat;
  background-color: rgb(46,50,114);
}

.left-bank{
width: 18%;
}

.couple{
  display: flex;
}

.person {
  flex-basis: 120px;
  flex-shrink: 1;
  flex-grow: 1;
}

.personh {
}

.personf {
}

.person img {
  width: 100%;

}


.right-bank {
width: 18%;

}

footer {
min-height: 15vh;
 background-color: #c5d6f0;
  display: flex;
  align-items: center;
}


.reponses {
  display: flex;
  justify-content: space-evenly;
  width : 100%;
}

.possibilites {
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}








.choix img {
display: flex;
justify-content: space-between;

max-height: 10vh;
}

.bouton1 img {

}

.bouton2 img {


}

.bouton3 img {
l

}

.bouton4 img {


}

.bouton5 img {


}
